.category {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
  background-color: #e8e8e8;
  box-shadow: 0 2px 7px #55555520, inset 0 -3px 7px #555555;
  overflow: hidden;
}

.title {
  font-size: 3em;
  color: #424242;
  text-decoration: underline;
  letter-spacing: 5px;
  margin-bottom: 15px;
}

.describe {
  width: 70%;
  font-size: 1.3em;
  color: #555555;
  float: left;
  overflow: hidden;
}

.count {
  float: right;
  color: #ff4d23;
}

.products {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
