.container {
  width: 80%;
  padding: 15px;
  margin: 0 auto;
  min-height: calc(100vh - 150px);
  background-color: #e8e8e8;
  box-shadow: 0 2px 7px #55555520, inset 0 -3px 7px #555555;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  box-shadow: 0 2px 7px #55555520, inset 0 -3px 7px #555555;
  border-radius: 10px;
  padding: 15px;
  width: 30%;
  min-height: 50vh;
  -webkit-animation: swirl-in-bck 0.65s ease-out both;
  animation: swirl-in-bck 0.65s ease-out both;
}

.title {
  margin: 10px;
  font-size: 2.3em;
  letter-spacing: 3px;
  text-align: center;
}

.item {
  width: 100%;
  min-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 0;
  position: relative;
}
.label {
  cursor: text;
  color: #555555;
  z-index: 2;
  position: absolute;
  left: 15px;
  padding: 0 5px;
  transition: 0.3s ease;
}

.input {
  font-size: 1.4em;
  padding: 5px 15px;
  border-radius: 5px;
  border: 2px solid #fff;
  background-color: #e8e8e8;
  outline: none;
}
.inputNotFocused {
  font-size: 1.3em;
  top: 50%;
  transform: translateY(-50%);
}

.inputFocused {
  top: 20%;
  transform: translateY(-50%);
  font-size: 0.9em;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  background-color: #e8e8e8;
}

.hide {
  display: none;
}
.show {
  display: block;
}
.instructions {
  position: absolute;
  top: 90%;
  display: block;
  background-color: #fff;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 1.1em;
  width: 100%;
  z-index: 10;
}

.valid {
  color: #04ae21;
  margin-left: 10px;
}

.invalid {
  color: rgb(227, 14, 14);
  margin-left: 10px;
}

.btn {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 5px;
  border-radius: 5px;
  transition: 0.4s ease;
  cursor: pointer;
  border: none;
  background-color: #ff4d23;
}

.btn:hover {
  background-color: #f87557;
  box-shadow: 0 2px 7px #55555520, inset 0 -3px 7px #555555;
}
.btnDisabled {
  font-size: 1.6em;
  font-weight: 600;
  letter-spacing: 3px;
  padding: 5px;
  border-radius: 5px;
}

.signin {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
}

.link {
  text-decoration: none;
  color: #ff4d23;
  font-size: 1.3em;
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.9s ease;
}

.link:hover {
  color: #f87557;
  text-decoration: underline;
  font-weight: 600;
  text-shadow: 0 2px 7px #55555520, inset 0 -3px 7px #555555;
}

.error {
  text-decoration: underline;
  color: #ff4d23;
  font-size: 1.3em;
  text-align: center;
}

@-webkit-keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
@keyframes swirl-in-bck {
  0% {
    -webkit-transform: rotate(540deg) scale(5);
    transform: rotate(540deg) scale(5);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0) scale(1);
    transform: rotate(0) scale(1);
    opacity: 1;
  }
}
